main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 35px;
}

.encabezado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 50px;
}

.encabezado h2 {
    font-size: 4rem;
    color: #C9D6FF;
    font-family: 'Rubik Bubbles', 'Open Sans', 'sans-serif';
    text-shadow: 2px 2px 6px #111;
    letter-spacing: 5px;
}

#volver {
    background: #C9D7FF;
    color: #111;
    padding: 10px 10px 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    box-shadow: 0px 0px 5px #111;
    transition: all .3s;
}

#volver p {
    text-decoration: none;
    display: inline-block;
}

#volver:hover i {
    position: relative;
    color: #111;
    animation: volver infinite .3s alternate;
}

.formEdit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 100px;
}

.titulo, .content, .editar, .eliminar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titulo label, .content label {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}

#tituloInput {
    width: 50%;
    height: 40px;
    font-size: 1rem;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #697bb6;
    outline: none;
    font-family: 'Open Sans', 'sans-serif';
    transition: all .3s;
}

#tituloInput:hover {
    border-color: #5a4788;
    box-shadow: 0px 0px 10px #697bb6;
}

#contentTextarea {
    width: 100%;
    font-size: 1rem;
    font-family: 'Open sans';
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #697bb6;
    outline: none;
    resize: none;
    transition: all .3s;
}

.editar-eliminar {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#editButton, #deleteButton {
    min-height: 50px;
    min-width: 200px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #666;
    cursor: pointer;
    letter-spacing: 0;
    transition: all .2s;
}

#editButton {
    background: #7325cc;
    color: #FFF;
}

#editButton:hover {
    background: #902eff;
    letter-spacing: .5px;
}

#editButton:active {
    background: #c491ff;
}

.eliminar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#deleteButton {
    background: #ff4231;
    color: #FFF;
}

#deleteButton:hover {
    background: #ff4f3f;
    letter-spacing: .5px;
}

#deleteButton:active {
    background: #ff8f85;
}





/* Animaciones */

@keyframes volver {
    from {
        right:0;
    }
    to {
        right: 5px;
    }
}