<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  
  <main>
    <h2>Edit</h2>
    <!-- Aqui Usaras Method Override -->
  </main>

  <%- include('./partials/footer'); %>
</body>
</html>