<footer>
    <div class="redes">
        <h3>Mis Redes</h3>
        <div class="redes-icons">
            <a href="https://www.instagram.com/jorge_neder97/" target="_blank"><img src="/img/ico/instagram.png" alt="Instagram"></a>
            <a href="https://github.com/JorgeNeder97" target="_blank"><img src="/img/ico/github.png" alt="GitHub"></a>
        </div>
    </div>
    <p>Developed By - JorgeNeder97 | Copyright 2023</p>
</footer>