<header>
    <img id="logo" src="/img/MyNotes.png" alt="My Notes App">
    <h2 id="bienvenido">Bienvenido <span id="userName"><%=usuarioLogueado.userName %></span></h2>
    <div class="botones">
        <section id="nota-crud">
            <a id="nuevaNota" href="/note/newNote">Nueva Nota</a>
        </section>
        <section id="sesion">
            <a id="cerrarSesion" href="/user/login">Cerrar Sesión</a>
        </section>
    </div>
</header>
